/* Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header */
header {
  background-color: #121d39;
  background-size: cover;
  padding: 45px;
}
/* action bar */
.action-bar {
  padding-left: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-bar span {
  color: #19a8e5;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}
/* nav */
nav ul {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

nav ul li {
  list-style: none;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  color: #ffff;
  text-transform: capitalize;
}

nav ul a {
  text-decoration: none;
  font-size: 15px;
}

nav ul .active::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 35px;
  border-radius: 100px;
  background-color: #19b1e8;
  transition: 0.5s;
}

nav ul a:hover::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 35px;
  border-radius: 100px;
  background-color: #19b1e8;
  transition: 0.5s;
}
/* btns */
.btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btns .sign-up-btn {
  color: #ffff;
  font-size: 15px;
  text-decoration: none;
}

.Login-btn {
  background: linear-gradient(108.34deg, #17c2ed 4.55%, #1c7dd7 95.45%);
  font-size: 15px;
  color: #ffff;
  text-decoration: none;
  width: 128px;
  height: 49px;
  padding-top: 15px;
  border-radius: 25px;
  text-align: center;
}

/* Hero section */
.Hero-section {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  border-radius: 20px;
}

.indonesia-btn {
  background-color: #4d566a;
  color: #a1a5b0;
  padding: 15px 30px;
  border-radius: 15px;
  opacity: 0.25px;
  text-decoration: none;
}

.hero-content h1 {
  color: #ffff;
  font-size: 55px;
  padding-top: 40px;
  font-weight: 600;
}

.hero-content p {
  color: #4d566a;
  padding-top: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 37.5px;
  margin-bottom: 80px;
}

.hero-content .btn-learn-more {
  text-decoration: none;
  font-size: 25px;
  font-family: 600px;
  background: linear-gradient(108.34deg, #17c2ed 4.55%, #1c7dd7 95.45%);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 30px 50px;
}

.hero-image {
  position: relative;
}

.hero-image img {
  position: relative;
  z-index: 2;
}

.hero-image img {
  border-radius: 86px;
}

.ellipse {
  position: absolute;
  top: -50px;
  right: -80px;
  width: 747px;
  height: 747px;
  background-color: #2e3b8b;
  border-radius: 100%;
  opacity: 40%;
  z-index: 1;
}

.bubbles {
  width: 500px;
  height: 500px;
  position: absolute;
  top: -350px;
  left: 250px;
}

/* featured */
.features {
  padding-top: 50px;
  margin: 0 50px;
  position: relative;
}

.features p {
  font-size: 30px;
  font-weight: 600;
  color: #17c1ed;
  text-align: center;
}

.features h2 {
  font-size: 55px;
  text-align: center;
}

.hotel {
  direction: ltr;
  display: flex;
  margin: 100px;
}

.hotel-image img {
  width: 362px;
  height: 424px;
  border-radius: 60px;
}

.hotel .hotel-info h3 {
  font-size: 45px;
  margin-bottom: 20px;
}

.hotel .hotel-info p {
  color: #a1a5b0;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  padding-left: 120px;
  margin-bottom: 80px;
}

.hotel-info {
  text-align: center;
  margin: 80px 25px;
}

.hotel-learn-more-btn {
  text-decoration: none;
  font-size: 20px;
  font-family: 600px;
  background: linear-gradient(108.34deg, #17c2ed 4.55%, #1c7dd7 95.45%);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  padding: 20px 50px;
}

.hotel-right {
  direction: rtl;
  display: flex;
  margin: 100px;
}

.hotel-info-right h3 {
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
}

.hotel-info-right p {
  color: #a1a5b0;
  font-size: 25px;
  font-weight: 500;
  text-align: left;
  padding-left: 120px;
  margin-bottom: 80px;
}

.hotel-info-right a {
  margin-right: 150px;
}

.hotel-bubbles {
  position: absolute;
  width: 500px;
  height: 500px;
  right: -10px;
}

.hotel-right-bubbles {
  position: absolute;
  width: 500px;
  height: 500px;
  left: -10px;
}
